.movies-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }

  .movies-container .movie, .movies-container .movieResults {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .movie .header, .movieResults .listing_id, .movieResults .guests, .movieResults .distance, .movieResults .bedrooms {
    flex: 1 0 25%;
  }

  .th {
    padding: 50px;
  }
  .td {
    padding: 50px;
  }

  .dropdown-container {
    float: left; 
    padding: 10px;
  }
  .h4 {
    float: left; 
    padding: 10px;
  }
  .card {
    float: left;
    height: 350px; 
    width: 350px; 
  }